{%extends 'base.html'%}
{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title %}About Us{% endblock %}

{% block content %}
<section class="min-vh-100">
    <div class="container text-light">
        <p class="fs-2 fw-bold text-center">
            About US
        </p>
        <p class="text-center fs-1">
            👋
        </p>
        <p class="text-center">
            At Show-Case we provide you with a platform to showcase your work for free.
            Doesn't matter which industry you're in, we got you covered. On top of that, we help you get feedback in
            terms
            of rating from your users so
            that you can make the necessary changes, improve your customer experience and rocket your sales.
        </p>
    </div>
</section>
{% endblock content %}