{%extends 'base.html'%}
{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}Show-Case{% endblock %}

{% block content %}
<section class="content container">

    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <div class="input-group my-3">
            <input type="text" name="project-query" class="form-control shadow-none" placeholder="Project title"
                aria-label="Project title" required>
            <button class="btn text-light shadow-none" type="submit" id="search-button">Search</button>
        </div>
    </form>

    <div class="row">
        {% if projects %}
        {% for project in projects %}
        <div class="col-md-6 col-lg-4 my-4">
            <div class="card" id="project-card">
                <img src="{{ project.landing_page.url }}" class="project-image card-img-top img-fluid image"
                    alt="{{ project.title }}">

                <div class="details position-absolute fw-bold fs-4" id="details">
                    <a href="{% url 'vote' project.id %}" class="text-light">vote</a>
                </div>

                <div class="card-body">
                    <div>
                        <p class="card-title fw-bold">
                            <a href="{% url 'vote' project.id %}" id="project-title">
                                {{ project.title|title }}
                            </a>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between">
                        {% if project.user.profile.country %}
                        <p>
                            <small class="fw-light">
                                From {{ project.user.profile.country|title }}
                            </small>
                        </p>
                        {% endif %}

                        <p>
                            <small class="fw-light">
                                {{ project.created_at|date:"M d Y"}}
                            </small>
                        </p>
                    </div>
                    <div class="profile d-flex justify-content-between align-items-center mt-2">
                        <div class="d-flex">
                            {% if project.user.profile.profile_pic %}
                            <p>
                                <img src="{{ project.user.profile.profile_pic.url }}" alt="" class="img-fluid">
                            </p>
                            {% else %}
                            <p
                                style="padding: 1rem; background-color: gray; border-radius:50%; height: .3rem; width: .3rem;">
                            </p>
                            {% endif %}
                            <p class="ms-2 fw-light">BY
                                <a href="{% url 'profile' project.user.username %}" class="fw-bold"
                                    id="project-profile">{{ project.user.username }}</a>
                            </p>
                        </div>

                        {% if user.id == project.user.id %}
                        <p>
                            <a href="{% url 'delete' project.id %}">
                                <button type="button" class="btn btn-danger btn-sm fw-light">
                                    <small>delete</small>
                                </button>
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="fs-4 fw-light text-center">Oops! No Projects at this moment</p>
        {% endif %}
    </div>
</section>

{% block extrahead %}
{{block.super}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% endblock %}