{%extends 'base.html'%}
{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block content %}
<section class="content container">
    <div class="row">
        {% for project in projects %}
        <div class="col-md-6 col-lg-4 my-4">
            <div class="card">
                <img src="{{ project.landing_page.url }}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                     <div class="d-flex justify-content-between">
                        <p class="card-title fw-bold">
                            {{ project.title }}
                        </p>
                        <p>
                            <small class="fw-light">
                                {{ project.created_at|date:"M d Y"}}
                            </small>
                        </p>
                     </div>
                    <small class="card-text fw-light">
                        {{ project.description }}
                    </small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}