{%extends 'base.html'%}
{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block content %}
<section class="content container">
    <div class="row">
        {% for project in projects %}
        <div class="col-md-6 col-lg-3 col-xl-4 my-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ project.landing_page.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                     <h5 class="card-title">
                        {{ project.title }}
                    </h5>
                    <p class="card-text">
                        {{ project.description }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}