<header id="header">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="{% url 'index' %}">Awwards<span>.</span></a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                {% if user.is_authenticated %}
                <li><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                <li><a class="nav-link fw-bold text-warning" href="{% url 'submit' %}" id="submit">Submit</a></li>
                 <li><a class="nav-link" href="{% url 'profile' user.username %}">Profile</a></li>
                 <li><a class="nav-link" href="#about">About Us</a></li>
                 <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
            <i class='bx bx-menu mobile-nav-toggle fs-1' id="menu-icon"></i>
        </nav>
    </div>
</header>