<header id="header">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="{% url 'index' %}">Awwards<span>.</span></a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About Us</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto" href="#contact">Login</a></li>
                <li><a class="nav-link scrollto" href="#contact">Signup</a></li>
            </ul>
            <i class='bx bx-menu mobile-nav-toggle fs-1' id="menu-icon"></i>
        </nav>
    </div>
</header>